@mixin font-family($font) {
    font-family: $font, sans-serif;
  }
  
  @mixin background($color) {
    background-color: $color;
  }
  
  @mixin border($width, $style, $color) {
    border: #{$width} #{$style} #{$color};
  }
  
  @mixin gradient($start, $end, $angle: to bottom) {
    background-image: linear-gradient($angle, $start, $end);
  }
  
  @mixin size($width, $height: auto) {
    width: $width;
    height: $height;
  }